<!DOCTYPE html>
<html lang="en">
  <head>
    <%- head %>
  </head>
  <body class="min-h-screen">
    
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="<%- base %>" class="flex title-font font-medium items-center text-gray-900 md:mb-0">
      <img src="<%- base %>/api/logo" class="w-10 h-10 text-white bg-indigo-500 rounded-full">
      <span class="ml-3 text-xl text-[khaki]"><%- global.config.web.title %></span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a href="<%- base %>/votes" class="mr-5 hover:text-blue-500">En Çok Oy Alanlar</a>
      <a href="<%- base %>/players" class="mr-5 hover:text-blue-500">En Çok Oynanan</a>
      <a href="<%- base %>/invite" class="mr-5 hover:text-blue-500">Davet</a>
      <% if(user) { %>
        <a href="<%- base %>/myservers" class="mr-5 hover:text-blue-500">Sunucularım</a>
      <% } %>
    </nav>
      <img src="https://cdn.discordapp.com/avatars/542255512591532032/47f3572413facd94f24a6d12727f3c2d.png" class="w-10 h-10 rounded-full">
  </div>
</header>
  

<section class="relative py-16 ">
  <div class="mx-auto items-center mb-12">
<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
<div style="width: 50%;margin-left:15%;margin-right:15%;" class="bg-gray-900">
  
<form action="" method="POST">
  <div class="mb-6">
    <label for="server" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Discord Sunucu</label>
    <select required id="server" name="server" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
      <option value="">Sunucu Seç</option>
      <% for (var i = 0; i < ownguilds.length; i++) { %>
        <option value="<%- ownguilds[i].id %>"><%- ownguilds[i].name %></option>
      <% } %>
    </select>
  </div>
  <div class="mb-6">
    <label for="ip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sunucu IP' si</label>
    <input type="text" id="ip" name="ip" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
  </div>
  <div class="mb-6">
    <label for="port" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sunucu Port' u</label>
    <input required value="22003" type="number" pattern="[0-9]{X,5}" id="port" name="port" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
  </div>
  <div class="mb-6">
    <label for="longdetails" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kısa Açıklama</label>
    <input type="text" id="longdetails" name="longdetails" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
  </div>
  <div class="mb-6">
    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Açıklama</label>
    <textarea required id="message" name="details" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=""></textarea>
  </div>
  <div class="flex items-start mb-6">
    <div class="flex items-center h-5">
      <input required id="license" name="license" type="checkbox" value="" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
    </div>
    <label for="license" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sunucu Listeleme <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">Koşullarını</a> Kabul Ediyorum.</label>
  </div>
    
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Başvuru Yap!</button>
</form>
  
<% if(message && message.type != "bot") { %>
<div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script type="text/javascript">swal.fire("<%- message.title %>", "<%- message.desc %>", "<%- message.type %>")</script>
</div>
<% } else if (message && message.type == "bot") { %>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
    Swal.fire({
      title: 'Botumuzu Ekle!',
      text: "Lütfen Sunucunuza Botumuzu Ekleyin.",
      icon: 'error',
      showCancelButton: true,
      confirmButtonColor: '#7F7FFF',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Davet Et',
      cancelButtonText: 'Geri Dön'
    }).then((result) => {
      if (result.isConfirmed) {
        <% if(message.id) { %>
         window.open("<%- base %>/invite?guild=<%- message.id %>");
        <% } else { %>
         window.open("<%- base %>/invite");
        <% } %>
      }
    })
  </script>
<% } %>
  
</div>
<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style>
  </div>
</section>
  
<%- pages.footer %>
  
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <%- realfooter %>
  </body>
</html>